@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Josefin Sans";
  overflow-x: hidden;
}

main {
  width: 100%;
}
main header {
  background-image: url(./images/mobile/image-hero.jpg);
  background-size: 100% 650px;
  background-repeat: no-repeat;
  height: 650px;
}
main header section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 24px 0 24px;
}
main header section .logo {
  width: 144px;
  height: 24px;
}
main header section .nav {
  color: #ffffff;
  cursor: pointer;
  font-size: 30px;
}
main header section nav {
  display: none;
}
main header section .overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  transition: 0.5s;
}
main header section .overlay .logo {
  position: absolute;
  top: 60px;
  left: 35px;
}
main header section .overlay .overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: left;
  margin-top: 30px;
  font-family: "Josefin Sans";
  font-size: 24px;
  text-transform: uppercase;
  padding: 0 0 0 30px;
  color: #ffffff;
}
main header section .overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}
main header section .overlay a:hover, main header section .overlay .overlay a:focus {
  color: #f1f1f1;
}
main header section .overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
main header .herotext {
  border: 2px solid #FFFFFF;
  margin: 50% 24px 0 24px;
}
main header .herotext p {
  font-size: 40px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 26px 24px 26px 24px;
}
main .about {
  margin: 96px 24px 0 24px;
}
main .about .aboutimage {
  background-image: url(./images/mobile/image-interactive.jpg);
  background-size: 327px 224px;
  background-repeat: no-repeat;
  height: 224px;
}
main .about .abouttext {
  padding: 50px 0 96px 0;
}
main .about .abouttext h1 {
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 0 16px 0;
}
main .about .abouttext p {
  font-size: 15px;
  text-align: center;
}
main .contenttitle {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 48px 0;
}
main .contenttitle button {
  display: none;
}
main .content {
  width: 100%;
}
main .content .contentitem {
  max-width: 327px;
  max-height: 120px;
  margin: 0 24px 24px 24px;
}
main .content .contentitem .mobilepicture {
  width: 100%;
  height: 100%;
}
main .content .contentitem .desktoppicture {
  display: none;
}
main .content .contentitem .itemtitle {
  font-size: 24px;
  margin: -60px 140px 0 20px;
  color: #FFFFFF;
  max-width: 127px;
}
main .content button {
  display: block;
  border: 1px solid #000000;
  padding: 13px 43px;
  background-color: transparent;
  margin: 32px 109px;
  cursor: pointer;
}
main footer {
  background: #000000;
}
main footer .footerlogo {
  margin: 50px 80px 0 110px;
}
main footer .footermenu {
  margin-top: 32px;
}
main footer .footermenu a {
  font-size: 15px;
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 16px;
  cursor: pointer;
}
main footer .social {
  display: flex;
  justify-content: center;
  margin: 50px 0 16px 0;
}
main footer .social img {
  margin-right: 16px;
}
main footer .copyright {
  mix-blend-mode: normal;
  opacity: 0.5;
  color: #FFFFFF;
  font-size: 15px;
  text-align: center;
  padding: 0 0 56px 0;
}

@media screen and (min-width: 1440px) {
  main header {
    width: 100%;
    background-image: url(./images/desktop/image-hero.jpg);
  }
  main header section {
    padding: 40px 10% 0 10%;
  }
  main header section .nav {
    display: none;
  }
  main header section nav {
    display: block;
  }
  main header section nav a {
    color: #FFFFFF;
    font-size: 15px;
    padding: 0 16px 0 0;
  }
  main header .herotext {
    margin: 130px 40% 0 10%;
  }
  main header .herotext p {
    font-size: 72px;
    padding: 40px;
  }
  main .about {
    margin: 10% 0 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  main .about .aboutimage {
    background-image: url(./images/desktop/image-interactive.jpg);
    background-size: 731px 500px;
    height: 500px;
  }
  main .about .abouttext {
    background-color: #FFFFFF;
    margin: -20% 10% 0 45%;
  }
  main .about .abouttext h1 {
    font-size: 48px;
    padding: 0 0 10% 10%;
  }
  main .about .abouttext p {
    padding: 0 0 10% 15%;
  }
  main .contenttitle {
    margin: 0 10% 48px 10%;
    justify-content: space-between;
  }
  main .contenttitle button {
    display: block;
    background-color: #000000;
    border: 1px solid #000000;
    padding: 13px 43px;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
  }
  main .content {
    display: grid;
    grid-template-columns: 256px 256px 256px 256px;
    gap: 30px;
    justify-content: center;
  }
  main .content .contentitem {
    max-width: 256px;
    max-height: 450px;
    margin: 0 24px 24px 24px;
  }
  main .content .contentitem:hover {
    position: relative;
    width: 256px;
    height: 450px;
    opacity: 0.5;
  }
  main .content .contentitem .mobilepicture {
    display: none;
  }
  main .content .contentitem .desktoppicture {
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  main .content .contentitem .itemtitle {
    font-size: 32px;
    margin: -60% 0 0 20px;
  }
  main .content button {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */